/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 30, 2015, 8:11:34 PM
    Author     : S525004
*/


h2{
    color: green;
    font-weight: bold;
}
body{
    margin:auto;
    width:30%;
    padding:0.625em;
    font-size: 1.16em;
    
}
.options {
    width:50%;
}
#vanilla_img,#chocolate_img,#mint_chocolate_img,#strawberry_img{
    display:none;
}
#price,#time{
    color:blue;
    font-weight: bold;
}


